@import '../node_modules/bootstrap/scss/bootstrap-utilities.scss';

.root {
	font-family: arial;

	h1 {
		color: #ce4a4a;
		font-size: 3rem;
		text-align: center;

		@include media-breakpoint-up(md) { font-size: 5rem; }
	}

	.boxes{
		justify-content: space-evenly;

		.checkbox-container {
			margin: 1rem;
		}

		.checkbox {
			display: block;
			width: 100px;
			height: 100px;
			background: fill;
			background-size: cover;

			@include media-breakpoint-up(md) { width: 200px; height: 200px }
		}

		h2 {
			text-align: center;
			color: #ce4a4a;
		}

		.checkbox.checked {
			background-image: url('../img/checked-checkbox.png');
		}

		.checkbox.unchecked {
			background-image: url('../img/unchecked-checkbox.png');
		}
	}

	.submitButton {
		width: 200px;
		height: 100px;

		background-color: #EC3B91;

		margin-left: auto;
		margin-right: auto;

		border-style: solid;
		border-radius: 15px;

		h2 {
			margin-top: 15%;
			text-align: center;
			color: white;
		}
	}
}

.tscs {
	.title {
		font-size: 2.5rem;
		text-decoration: underline;
		margin-bottom: 1rem;
	}

	.body {
		font-size: 1.5rem;
	}
}

.buttons {
	justify-content: space-evenly;
}

.acceptButton {
		width: 200px;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;

		background-color: #EC3B91;

		border-style: solid;
		border-radius: 15px;
	}

.closeModalButton{
	position: sticky;
	top: 0;
	font-size: 1.5rem;
}


.smallText{
	font-size: 3.5rem;
	text-align: center;

	@include media-breakpoint-up(md) { font-size: 5rem; }
}

.acceptText {
	font-size: 1.5rem;
	text-align: center;

	@include media-breakpoint-up(md) { font-size: 3rem; }
}